@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.4.1/dist/css/yakuhanrp.min.css');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Noto+Sans+JP&display=swap');
.lp-sailormoon {

  font-family: YakuHanRP, 'M PLUS Rounded 1c', sans-serif;
  display: block;
  background-color: #00244F;
}