main {
    width: 100%;
    background: url(../images/bg.png) repeat-y;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;

    @include media( pc ){
        background: #1181BF;
    }
}
.kv {
	width:100%;
	height:196.533vw;
	background:url(../images/bg02.jpg) no-repeat;
    background-position: 0 0;
	background-size:260%;
	border-bottom:pink solid 5px;
    @include media( pc ){
        width:1200px;
        height:630px;
        margin:0 auto;
        background-position: -750px 0;
        background-size:auto;
    }
}

.content {
	width:100%;
	height:auto;
	background:url(../images/bg02.jpg) no-repeat;
    background-position: 0 0;
	background-size:260%;
    @include media( pc ){
        width:1200px;
        height:auto;
        margin:0 auto;
        background-position: -750px 0;
        background-size:auto;
    }
}

.cp-card-all {
    /*width:92.53vw;*/
    width:96.93vw;
    /*height: 99.33vw;*/
    height: 103.73vw;
    margin: 0 auto 10vw auto;
    background: url(../images/bg_test3.svg) no-repeat;
    background-position: center;
    position: relative;
    & h3 {
        position: absolute;
        width: 100%;
        text-align: center;
        height: 14.66vw;
        line-height: 14.66vw;
        top:6.66vw;
        font-size: 2rem;
        font-weight: bold;
        @include media( pc ){
            width:530px;
            height: 50px;
            line-height: 50px;
            top:50px;
        }
    }

    @include media( pc ){
        width:530px;
        height: 540px;
    }
}
.cp-card-download {
    position: absolute;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: bold;
    top:24.65vw;
    & span {
    font-size: 1.2rem;
    }
    @include media( pc ){
        top:150px;
    }
}
.cp-card-img {
    position: absolute;
    width: 76.66%;
    height: 48.4vw;
    line-height: 48.4vw;
    font-size: 1rem;
    font-weight: bold;
    top:37.98vw;
    left:calc((100% - 76.66%) / 2);
    text-align: center;
    border-radius: 10px;
    background:#eaeaea;
    @include media( pc ){
        top:200px;
        width: 75%;
        left: 12.5%;
        height: 250px;
        line-height:250px;
        ;
    }
}

.cp-card-box {
    @include media( pc ){
        width: 1200px;
        margin: 0 auto;
        display: flex;
    }
}
.cp-twitter {
    background:linear-gradient(60deg, #F0B672 9.5%, #F9E3AF 31.2%, #FCECD8 50%, #F9E3AF 68.8%, #F0B672 90.5%);
    margin: 5px 0;
    height: 143.2vw;
    position: relative;
    &::before {
        position: absolute;
        display: block;
        content: '';
        top :-5px;
        left :0;
        width: 100%;
        height: 5px;
        background: linear-gradient(39.24deg, #E75297, #F6C8DD 30%, #E75297);
    }
    &::after {
        position: absolute;
        display: block;
        content: '';
        bottom :-5px;
        left :0;
        width: 100%;
        height: 5px;
        background: linear-gradient(39.24deg, #E75297, #F6C8DD 30%, #E75297);
    }
    @include media( pc ){
        height: auto;
        background:linear-gradient(35deg, #F0B672 9.5%, #F9E3AF 31.2%, #FCECD8 50%, #F9E3AF 68.8%, #F0B672 90.5%);
    }
}
.cp-twitter-inner {
    background-image: url(../images/bg_pattern.png);
    background-repeat:repeat;
    background-size:100px;
    padding: 11.6vw 0 10vw 0;
    height: 100%;
    position: relative;
    &::before {
        position: absolute;
        display: block;
        content: '';
        top :0;
        left :0;
        width: 100%;
        height: 25.333vw;
        background-image: url(../images/bg_line.svg);
        background-repeat:no-repeat;
        background-size:100%;
        z-index: 1;
        @include media( pc ){
            height: 156px;
            background-image: url(../images/bg_line_pc.svg);
            /*background-repeat:repeat-x;*/
            background-size:1200px;
            background-position: top center;
        }
    }
    @include media( pc ){
        padding: 94px 0 109px 0;
        background-size:110px;
    }
}
.cp-twitter-box {
    width: 94.666vw;
    margin: 0 auto;
    height: 121.6vw;
    background: #1181BF;
    border-radius: 20px;
    border: solid 1px #F0B672;
    z-index: 2;
    position: relative;
    box-shadow:1.4vw 1.4vw 7px rgba(66, 0, 36, .2);
    @include media( pc ){
        width: 1080px;
        height: 504px;
        border: solid 4px #F0B672;
        box-shadow:10px 10px 7px rgba(66, 0, 36, .2);
    }
}