<!-- モーダル -->
<%_
attention = [
  {
    txt: '・美少女戦士セーラームーンWAONはiPhone限定（iPhone8以降かつiOS15以降）での発行となります。',
  },
  {
    txt: '・美少女戦士セーラームーンWAONの各カードは期間限定での発行となります。期間外での発行はできませんのでご注意ください。',
  },
  {
    txt: '・発行した美少女戦士セーラームーンWAONの各カードの残高を合算することはできません。',
  },
  {
    txt: '・Apple Payに発行できるカード枚数には限りがあります。',

  },
  {
    txt: '・電子マネーWAON会員を退会した場合、発行した美少女戦士セーラームーンWAONはウォレットアプリから削除され、ご利用できなくなりますのでご注意ください。再発行はできません。',
  },
  {
    txt: '・発行した美少女戦士セーラームーンWAONをウォレットアプリから削除した場合、サーバーに美少女戦士セーラームーンWAONが残っていますので、復旧操作することにより、再度ご利用いただけます。',

  },
  {
    txt: '・iPhoneからAndroidへ機種変更した場合、発行した美少女戦士セーラームーンWAONのご利用はできなくなりますので、ご注意ください。',
  },
  {
    txt: '・iPhoneからiPhoneへ機種変更した場合、発行した美少女戦士セーラームーンWAONは新しい機種に引き継いでご利用いただけます。',
  },
  {
    txt: '・Apple PayのWAONの詳細については<a href="https://www.waon.net/service/waonaservice/" target="_blank" rel="noopener" class="lp-annotation_link">WAON公式HP</a>をご参照ください。',
  },
  {
    txt: '・本サービスは予告なく変更、もしくは終了する場合があります。ご了承ください。',
  },
  


]
_%>