<link href="./assets/css/style.css" rel="stylesheet" type="text/css">

<div class="l-full bgColor_paleblue">
  <div class="l-wrap">
    <nav>
      <ul class="breadnav"><li class="breadnav-list"><a href="/">ホーム</a></li>
        <li class="breadnav-list"><a href="/campaign/">キャンペーン</a></li>
        <li class="breadnav-list">つながるWAON 15th Anniversary × 30th anniversary 美少女戦士セーラームーン</li>
      </ul>
    </nav>
  </div>
</div>