<!-- モーダル -->
<%_
flow = [
{
  class: 'mod-open',
  txt: 'WAONアプリ起動',
},
  {
    class: 'mod-open',
    txt: 'WAONアプリ<br class="use--sp">起動',
  },
  {
    class: 'mod-open',
    txt: '利用規約<br class="use--sp">同意',
  },
  {
    class: 'mod-open',
    txt: 'SMS認証',
  },
  {
    class: 'mod-open',
    txt: 'WAON<br>会員登録',
  },
  {
    class: 'mod-open',
    txt: 'セキュリティ<br>設定',
  },
  {
    class: 'mod-open',
    txt: 'WAONを新規発行<br><span>(WAONをはじめる)</span>',
  },
  {
    class: 'mod-open',
    txt: 'お好きな<br>WAONを選択',
  },
  {
    class: 'mod-open',
    txt: 'メインカード<br>設定',
  },
  


]
_%>