<!--
  /******* LPコンテンツ END *******/
-->








<!-- ================================
FOOTER
===================================== -->
<p class="pageTop">
  <a href="#">
    <img src="/asset/img/common/btn_pagetop.png" alt="">
  </a>
</p>

<!--div class="bnrBox">
 <a href="javascript:void(0)" class="bnrBox_btnClose"><img src="/asset/img/top/btn_close.png" alt=""></a>
 <a href="/campaign/191001_cashlesswaoncp/" onclick="ga('send', 'event', 'flt_bnr', 'click', '1910_cashlesswaoncp');">
  <img class="pc" src="/asset/img/top/bnr_pc.jpg" alt="キャッシュレス・消費者還元事業">
  <img class="sp" src="/asset/img/top/bnr_sp.jpg" alt="キャッシュレス・消費者還元事業">
 </a>
</div-->


<!-- ================================
FOOTER
===================================== -->
<div id="footer" class="l-full">
<footer>
<div class="footerNavBox">
<!-- utilitiesナビゲーション_____________ -->
  <div class="utilitiesNav l-wrap">

<!-- SP ONLY ________________-->
  <div class="sp">
    <ul class="sp-utilitiesNav df">
      <li class="spnav-1 spnavBtn js-spnav-row-1">
        <a class ="arrow-whitePlus">WAONとは</a>
      </li>
      <li class="spOpenList spnav-3">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/about/">WAONとは</a></li>
          <li><a class="arrow-orange" href="/about/apply/">WAONを申し込む</a></li>
          <li><a class="arrow-orange" href="/about/base/">WAONの基本</a></li>
          <li><a class="arrow-orange" href="/about/net-shop/">インターネット上でのお買物について（ネット決済）</a></li>
          <!--li><a class="arrow-orange" href="/about/movie/">電子マネーWAONの使い方の動画</a></li-->
        </ul>
      </li>


      <li class="spnav-2 spnavBtn js-spnav-row-1 sp-utilitiesNav-border">
        <a class ="arrow-whitePlus">使えるお店を探す</a>
      </li>
      <li class="spOpenList spnav-4">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/shop/">使えるお店を探す</a></li>
          <li><a class="arrow-orange" href="https://sasp.mapion.co.jp/b/waon/">店舗検索</a></li>
          <li><a class="arrow-orange" href="/internet_shop/">WAONで使えるネットショップ・サービスを探す</a></li>
          <li><a class="arrow-orange" href="https://map.aeonbank.co.jp/aeonbank/?trcd=g100000744" target="_blank">イオン銀行ATM設置場所</a></li>
        </ul>
      </li>

      <li class="spnav-5 spnavBtn js-spnav-row-2">
        <a class ="arrow-white" href="/point_exchange/">提携先のポイントをWAONポイントに交換</a>
      </li>


      <li class="spnav-6 spnavBtn js-spnav-row-2 sp-utilitiesNav-border">
        <a class ="arrow-white" href="/campaign/">キャンペーン</a>
      </li>


      <li class="spnav-7 spnavBtn js-spnav-row-3">
        <a class ="arrow-whitePlus">ポイントをためる・使う</a>
      </li>
      <li class="spOpenList spnav-9">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/point/">ポイントをためる・使う</a></li>
          <li><a class="arrow-orange" href="/point/expiration_date/">ポイントの有効期限について</a></li>
          <li><a class="arrow-orange" href="/point/contribution/">WAONポイントを寄付・募金する</a></li>
          <li><a class="arrow-orange" href="/point/management/">WAONポイントを確認する</a></li>
        </ul>
      </li>


      <li class="spnav-8 spnavBtn js-spnav-row-3 sp-utilitiesNav-border">
        <a class ="arrow-whitePlus">チャージ（入金）する</a>
      </li>
      <li class="spOpenList spnav-10">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/charge/">チャージ（入金）する</a></li>
          <li><a class="arrow-orange" href="/charge/cash/">現金でチャージする</a></li>
          <li><a class="arrow-orange" href="/charge/credit_card/">クレジットカードでチャージする</a></li>
          <li><a class="arrow-orange" href="/charge/aeon_bank_account/">イオン銀行の口座からチャージする</a></li>
          <li><a class="arrow-orange" href="/charge/auto/">オートチャージ</a></li>
          <li><a class="arrow-orange" href="/point/use/">ポイントからチャージする</a></li>
          <li><a class="arrow-orange" href="/service/pocket_change/">外貨からチャージする</a></li>
          <li><a class="arrow-orange" href="/charge/upper-bound/">チャージ上限金額の変更について</a></li>
        </ul>
      </li>
      
      
      <li class="spnav-11 spnavBtn js-spnav-row-4">
        <a class ="arrow-whitePlus">電子マネーWAON会員(所有者情報登録)</a>
      </li>
      <li class="spOpenList spnav-13">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/net_station/registration/">電子マネーWAON会員(所有者情報登録)</a></li>
          <li><a class="arrow-orange" href="/info/20160000_waonpoint/">WAON POINTサービス会員登録に伴う個人データの共同利用のお知らせ</a></li>
        </ul>
      </li>
      
      
      <li class="spnav-12 spnavBtn js-spnav-row-4 sp-utilitiesNav-border">
        <a class ="arrow-whitePlus">WAONネットステーションについて</a>
      </li>
      <li class="spOpenList spnav-14">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/net_station/">WAONネットステーションについて</a></li>
          <li><a class="arrow-orange" href="/net_station/iccardreader/">ICカードリーダライタについて</a></li>
          <li><a class="arrow-orange" href="/terminal/net_station/">WAONネットステーションWAON端末について</a></li>
          <li><a class="arrow-orange" href="/net_station/registration/">電子マネーWAON会員(所有者情報登録)</a></li>
        </ul>
      </li>


      <li class="spnav-15 spnavBtn js-spnav-row-5">
        <a class ="arrow-whitePlus">各種サービス</a>
      </li>
      <li class="spOpenList spnav-17">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/service/">各種サービス</a></li>
          <li><a class="arrow-orange" href="/service/members/">WAONメンバーズ</a></li>
		  <li><a class="arrow-orange" href="https://www.aeon.co.jp/NetBranch/pathdivide.do" target="_blank">イオンスクエアメンバー<br />Mypageログイン</a></li>
        </ul>
      </li>


      <li class="spnav-16 spnavBtn js-spnav-row-5 sp-utilitiesNav-border">
        <a class ="arrow-white" href="/iphone/">iPhone向け　WAONステーションアプリ</a>
      </li>


      <li class="spnav-18 spnavBtn js-spnav-row-6">
        <a class ="arrow-whitePlus">あなたにあったカードを選んでWAONをはじめよう</a>
      </li>
      <li class="spOpenList spnav-20">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/card/">あなたにあったカードを選んでWAONをはじめよう</a></li>
          <li><a class="arrow-orange" href="/card/region/">ご当地WAON</a></li>
          <li><a class="arrow-orange" href="/card/soccer/">サッカー大好きWAON</a></li>
          <li><a class="arrow-orange" href="/card/gg/">G.G WAON</a></li>
          <li><a class="arrow-orange" href="/card/jmb/">JMB WAON</a></li>
          <li><a class="arrow-orange" href="/card/waon/">WAONカード・WAONカードプラス</a></li>
          <li><a class="arrow-orange" href="/card/credit/">クレジットカード一体型</a></li>
          <li><a class="arrow-orange" href="/card/cash/">キャッシュカード一体型</a></li>
          <li><a class="arrow-orange" href="/card/mobile/">モバイルWAON</a></li>
          <li><a class="arrow-orange" href="/card/tie-up/">提携WAONカード</a></li>
        </ul>
      </li>


      <li class="spnav-19 spnavBtn js-spnav-row-6 sp-utilitiesNav-border">
        <a class ="arrow-white" href="/waon_app/">WAONサービスアプリ</a>
      </li>


      <li class="spnav-21 spnavBtn js-spnav-row-7">
        <a class ="arrow-white" href="/info/">お知らせ</a>
      </li>


      <li class="spnav-22 spnavBtn js-spnav-row-7 sp-utilitiesNav-border">
        <a class ="arrow-whitePlus">WAON利用約款</a>
      </li>
      <li class="spOpenList spnav-23">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/stipulation/">WAON利用約款</a></li>
          <li><a class="arrow-orange" href="/stipulation/20000/">上限20,000円 WAON利用約款</a></li>
          <li><a class="arrow-orange" href="/stipulation/29000/">上限50,000円(1回のチャージ限度額が29,000円) WAON利用約款</a></li>
          <li><a class="arrow-orange" href="/stipulation/49000/">上限50,000円(1回のチャージ限度額が49,000円) WAON利用約款</a></li>
          <li><a class="arrow-orange" href="/stipulation/mynapointwaon/">マイナポイント利用規約・マイナポイント特約</a></li>
		  <li><a class="arrow-orange" href="/stipulation/cashless/">キャッシュレス・消費者還元事業に関する特約</a></li>
		  <li><a class="arrow-orange" href="https://www.s-kessai.jp/cms/user-protection/detail/80" target="_blank">利用者資金の保全方法・無権限取引への対応方針に関する事項</a></li>
        </ul>
      </li>


      <li class="spnav-24 spnavBtn js-spnav-row-8">
        <a class ="arrow-whitePlus">WAON端末について</a>
      </li>
      <li class="spOpenList spnav-26">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/terminal/">WAON端末について</a></li>
          <!--li><a class="arrow-orange" href="/terminal/charger/">WAONチャージャー</a></li-->
          <!--li><a class="arrow-orange" href="/terminal/mobile_app/">モバイルWAON</a></li-->
          <li><a class="arrow-orange" href="/terminal/net_station/">WAONネットステーション</a></li>
          <li><a class="arrow-orange" href="/terminal/station/">WAONステーション</a></li>
          <li><a class="arrow-orange" href="/terminal/aeonbk/">イオン銀行ATM</a></li>
          <li><a class="arrow-orange" href="/terminal/chargermini/">WAONチャージャーmini</a></li>
        </ul>
      </li>


      <li class="spnav-25 spnavBtn js-spnav-row-8 sp-utilitiesNav-border">
        <a class ="arrow-white" href="/contact/">お問い合わせ</a>
      </li>


      <li class="spnav-27 spnavBtn js-spnav-row-9">
        <a class ="arrow-whitePlus">WAONを紛失・盗難・破損したときは</a>
      </li>
	  <li class="spOpenList spnav-29">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/rescue/">WAONを紛失・盗難・破損したときは</a></li>
		  <li><a class="arrow-orange" href="/rescue/pickup/">WAONカードの拾得について</a></li>
        </ul>
      </li>


      <li class="spnav-28 spnavBtn js-spnav-row-9 sp-utilitiesNav-border">
        <a class ="arrow-whitePlus">サイトご利用に関して</a>
      </li>
      <li class="spOpenList spnav-30">
        <ul class="spOpenList_box df">
          <li><a class="arrow-orange" href="/site/">サイトご利用に関して</a></li>
          <li><a class="arrow-orange" href="/site/browser/">ホームページの推奨環境について</a></li>
          <li><a class="arrow-orange" href="/site/company/">企業情報</a></li>
          <!--li><a class="arrow-orange" href="/site/mobile/">WAONモバイルサイトについて</a></li-->
          <li><a class="arrow-orange" href="/site/policy/">サイトご利用規約</a></li>
          <li><a class="arrow-orange" href="/site/sitemap/">サイトマップ</a></li>
        </ul>
      </li>


      <li class="spnav-31 spnavBtn js-spnav-row-10">
        <a class ="arrow-white" href="/faq/">よくあるご質問</a>
      </li>


      <li class="spnav-32 spnavBtn js-spnav-row-10 sp-utilitiesNav-border">
        <a class ="arrow-white" href="/movie/">動画ギャラリー</a>
      </li>



    </ul>

  </div>
<!-- _______________________ -->



<!-- PC ONLY ________________-->
  <div class="pc pc-df">

<!-- WAONを知りたい -->
    <dl class="links">
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/about/">WAONとは</a></dt>
      <dd><a href="/about/apply/">WAONを申し込む</a></dd>
      <dd><a href="/about/base/">WAONの基本</a></dd>
      <dd><a href="/about/net-shop/">インターネット上でのお買物について（ネット決済）</a></dd>
      <!--dd><a href="/about/movie/">電子マネーWAONの使い方の動画</a></dd-->

<!-- 使えるお店を探す -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/shop/">使えるお店を探す</a></dt>
      <dd><a href="https://sasp.mapion.co.jp/b/waon/">店舗検索</a></dd>
      <dd><a href="/internet_shop/">WAONで使えるネットショップ・サービスを探す</a></dd>
      <dd><a href="https://map.aeonbank.co.jp/aeonbank/?trcd=g100000744" target="_blank">イオン銀行ATM設置場所</a></dd>


<!-- 提携ポイントをWAONポイントと交換 -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/point_exchange/">提携先のポイントをWAONポイントに交換</a></dt>

<!-- キャンペーン -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/campaign/">キャンペーン</a></dt>

<!-- ポイントをつかう・ためる -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/point/">ポイントをためる・使う</a></dt>
      <dd><a href="/point/expiration_date/">ポイントの有効期限について</a></dd>
      <dd><a href="/point/contribution/">WAONポイントを寄付・募金する</a></dd>
      <dd><a href="/point/management/">WAONポイントを確認する</a></dd>
    </dl>
   

<!-- チャージ（入金）する -->
    <dl class="links">
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/charge/">チャージ（入金）する</a></dt>
      <dd><a href="/charge/cash/">現金でチャージする</a></dd>
      <dd><a href="/charge/credit_card/">クレジットカードでチャージする</a></dd>
      <dd><a href="/charge/aeon_bank_account/">イオン銀行の口座からチャージする</a></dd>
      <dd><a href="/charge/auto/">オートチャージ</a></dd>
      <dd><a href="/point/use/">ポイントからチャージする</a></dd>
      <dd><a href="/service/pocket_change/">外貨からチャージする</a></dd>
      <dd><a href="/charge/upper-bound/">チャージ上限金額の変更について</a></dd>

<!-- 電子マネーWAON会員(所有者情報登録) -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/net_station/registration/">電子マネーWAON会員<br>(所有者情報登録)</a></dt>
      <dd><a href="/info/20160000_waonpoint/">WAON POINTサービス会員登録に伴う個人データの共同利用のお知らせ</a></dd>

<!-- WAONネットステーション -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/net_station/">WAONネットステーション<br>について</a></dt>
      <dd><a href="/net_station/iccardreader/">ICカードリーダライタについて</a></dd>
      <dd><a href="/terminal/net_station/">WAONネットステーションWAON端末について</a></dd>

<!-- 各種サービス -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/service/">各種サービス</a></dt>
      <dd><a href="/service/members/">WAONメンバーズ</a></dd>
	  <dd><a href="https://www.aeon.co.jp/NetBranch/pathdivide.do" target="_blank">イオンスクエアメンバー<br />Mypageログイン</a></dd>
    </dl>

<!-- WAON POINT -->
      <!--
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/waon_point/">WAON POINT</a></dt>
      <dd><a href="/waon_point/monthly/">月間ご利用ポイント</a></dd>
      <dd><a href="/waon_point/exchange/">WAON POINTの交換</a></dd>
      <dd><a href="/waon_point/faq/">WAON POINTのよくあるご質問</a></dd>
      -->

<!-- iPhone向け　WAONステーションアプリ -->
    <dl class="links">
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/iphone/">iPhone向け　WAONステーションアプリ</a></dt>

<!-- あなたにあったカードを選んでWAONをはじめよう -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/card/">あなたにあったカードを選んでWAONをはじめよう</a></dt>
      <dd><a href="/card/region/">ご当地WAON</a></dd>
      <dd><a href="/card/soccer/">サッカー大好きWAON</a></dd>
      <dd><a href="/card/gg/">G.G WAON</a></dd>
      <dd><a href="/card/jmb/">JMB WAON</a></dd>
      <dd><a href="/card/waon/">WAONカード・WAONカードプラス</a></dd>
      <dd><a href="/card/credit/">クレジットカード一体型</a></dd>
      <dd><a href="/card/cash/">キャッシュカード一体型</a></dd>
      <dd><a href="/card/mobile/">モバイルWAON</a></dd>
      <dd><a href="/card/tie-up/">提携WAONカード</a></dd>

<!-- WAONサービスアプリ -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/waon_app/">WAONサービスアプリ</a></dt>

<!-- お知らせ -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/info/">お知らせ</a></dt>

<!-- WAON利用約款 -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/stipulation/">WAON利用約款</a></dt>
      <dd><a href="/stipulation/20000/">上限20,000円 WAON利用約款</a></dd>
      <dd><a href="/stipulation/29000/">上限50,000円(1回のチャージ限度額が29,000円) WAON利用約款</a></dd>
      <dd><a href="/stipulation/49000/">上限50,000円(1回のチャージ限度額が49,000円) WAON利用約款</a></dd>
	  <dd><a href="/stipulation/mynapointwaon/">マイナポイント利用規約・マイナポイント特約</a></dd>
      <dd><a href="/stipulation/cashless/">キャッシュレス・消費者還元事業に関する特約</a></dd>
	  <dd><a href="https://www.s-kessai.jp/cms/user-protection/detail/80" target="_blank">利用者資金の保全方法・無権限取引への対応方針に関する事項</a></dd>
    </dl>

<!-- WAON端末について -->
    <dl class="links">
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/terminal/">WAON端末について</a></dt>
      <!--dd><a href="/terminal/charger/">WAONチャージャー</a></dd-->
      <!--dd><a href="/terminal/mobile_app/">モバイルWAON</a></dd-->
      <dd><a href="/terminal/net_station/">WAONネットステーション</a></dd>
      <dd><a href="/terminal/station/">WAONステーション</a></dd>
      <dd><a href="/terminal/aeonbk/">イオン銀行ATM</a></dd>
      <dd><a href="/terminal/chargermini/">WAONチャージャーmini</a></dd>

<!-- お問い合わせ -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/contact/">お問い合わせ</a></dt>

<!-- WAONを紛失・盗難・破損したときは -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/rescue/">WAONを紛失・盗難・破損したときは</a></dt>
	  <dd><a href="/rescue/pickup/">WAONカードの拾得について</a></dd>

<!-- サイトご利用に関して -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/site/">サイトご利用に関して</a></dt>
      <dd><a href="/site/browser/">ホームページの推奨環境について</a></dd>
      <dd><a href="/site/company/">企業情報</a></dd>
      <!--dd><a href="/site/mobile/">WAONモバイルサイトについて</a></dd-->
      <dd><a href="/site/policy/">サイトご利用規約</a></dd>
      <dd><a href="/site/sitemap/">サイトマップ</a></dd>

<!-- よくあるご質問 -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/faq/">よくあるご質問</a></dt>

<!-- 動画ギャラリー -->
      <dt class="links_ttl fwBold"><a class="arrow-orange  arrow-sp-links" href="/movie/">動画ギャラリー</a></dt>
      </dl>

</div>

<!-- _______________________ -->
</div><!-- /utilitiesNav -->
</div>





<!-- remoteナビゲーション_____________ -->
    <!-- <ul class="remoteNav df sp">
      <li class="remoteNav_li remoteNav_li-left"><a class="btn btn-white" href="/faq/">カード盗難・紛失</a></li>
        <li class="remoteNav_li remoteNav_li-right"><a class="btn btn-darkblue" href="/faq/">よくあるご質問</a></li>
    </ul> -->

<div class="footerLogoBox">
  <div class="l-wrap">
  <!-- footerナビゲーション_____________ -->
    <div class="footerNav">
      <ul class="footerNav_list df">
        <li class="terms pc sp"><a class="footerNav_list_btn" href="#">トップへ戻る</a></li>
        <li class="company"><a class="footerNav_list_btn" href="/site/company/">企業情報</a>|</li>
        <li class="privacy"><a class="footerNav_list_btn" href="http://www.aeon.info/privacy/" target="_blank">プライバシーポリシー</a></li>
        <li class="sitemap"><span class="pc">|</span><a class="footerNav_list_btn" href="/site/sitemap/">サイトマップ</a>|</li>
        <li class="terms"><a class="footerNav_list_btn" href="/site/">サイトご利用に関して</a></li>
      </ul>

       <p class="footerSiteId">
        <a href="/"><img src="/asset/img/common/img-foot-logo.png" alt="WAON" width="101" height="64" /></a>
      </p>

    </div>
      <p class="copy">Copyright(c) AEON CO., LTD. All Right Reserved.</p>

  </div>

  </div>  

</footer>
</div>
